---
# Patch deployment to use prod-specific DB credentials secret
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: frontend
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: produser.prod-cluster.credentials.postgresql.acid.zalan.do
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: produser.prod-cluster.credentials.postgresql.acid.zalan.do
                  key: password
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 128Mi
